<div class="login-block">
  <div class="container">
    <div class="row">
      <div class="col-md-4 login-sec">
        <h2 class="text-center">Login Now</h2>
        <%= form_for(resource, as: resource_name,
          url: session_path(resource_name),
          html:{class: "login-form"}) do |f| %>
          <%= render "shared/devisemes", {resource: resource} %>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autocomplete: "email",
              class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "current-password",
              class: "form-control" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="form-check">
              <%= f.check_box :remember_me, class: "form-check-input" %>
              <%= f.label :remember_me, class: "form-check-label" %>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "Log in", class: "btn btn-login float-right" %>
          </div>
        <% end %>
        <div class="redirect-links">
          <%= render "devise/shared/links" %>
        </div>
        <div class="copy-text">Created with <i class="fa fa-heart"></i> by
          <a href="http://fb.com/huydung1996">MongJi81</a></div>
      </div>
      <div class="col-md-8 banner-sec">
        <%= render "shared/banner_sec" %>
      </div>
    </div>
  </div>
</div>
